<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @tenant.parent_id %>
</p>

<p>
  <strong>Lft:</strong>
  <%= @tenant.lft %>
</p>

<p>
  <strong>Rgt:</strong>
  <%= @tenant.rgt %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @tenant.depth %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @tenant.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @tenant.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @tenant.contact_phone %>
</p>

<p>
  <strong>Active at:</strong>
  <%= @tenant.active_at %>
</p>

<p>
  <strong>Inactive at:</strong>
  <%= @tenant.inactive_at %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @tenant.contract %>
</p>

<p>
  <strong>Did:</strong>
  <%= @tenant.did %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
