%nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> dashboard
    Dashboard
  = link_to medias_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> collections
    Media
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> description
    Posts
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> web
    Webpages
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> language
    Localizations
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> done_all
    Bulk Jobs
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> dns
    Applications
  .mdl-layout-spacer
  = link_to dashboards_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"} help_outline
    %span.visuallyhidden Help
