.layout__sidebar.mdl-layout__drawer
  %header.sidebar__header
    = link_to root_path, class: 'sidebar__root-link' do
      = image_tag 'logo.svg', class: 'sidebar__brand-logo'
      %h1.sidebar__brand-name Cortex
  = render 'partials/navigation'
  = redux_store('DashboardStore', props: { tenant: (Tenant.find_by_name('Corporate') || current_user.tenant), current_user: current_user })
  = react_component('DashboardApp', props: {}, prerender: true)
