%tbody
  - context[:content_items].each do |content_item|
    %tr
      - @options[:data][:columns].each do |column|
        %td.mdl-data-table__cell--non-numeric.content_item-link
          - if context[:popup]
            = link_to  '#', data: { id: content_item.id, title: content_item_title(content_item), thumb: content_item_thumb_url(content_item), url: content_item_asset_url(content_item), alt: content_item_asset_alt_text(content_item), asset_type: content_item_asset_type(content_item) }, class: "media-select--#{context[:popup]}"  do
              = cell(Cortex::Index::ContentItemCell, nil, { cells: column[:cells], content_item: content_item }).(:column)
          - else
            = link_to edit_content_type_content_item_path(context[:content_type].id, content_item.id) do
              = cell(Cortex::Index::ContentItemCell, nil, { cells: column[:cells], content_item: content_item }).(:column)
