= form_for [@content_type, @content_item], html: { multipart: true } do |form|
  = form.hidden_field :creator_id, value: current_user.id
  = form.hidden_field :content_type_id, value: @content_type.id
  = cell('wizard', @wizard, context: { content_item: @content_item, form: form }).()
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      - if @content_type.publishable
        - case @content_item.publish_state.try(:state)
        - when 'Published'
          = form.submit 'Update Post', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
        - else
          = form.submit 'Save as Draft', name: 'content_item[publish_state_attributes[state]]', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
          = form.submit 'Publish', name: 'content_item[publish_state_attributes[state]]', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
      - else
        = form.submit 'Submit', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
      = link_to 'Cancel', content_type_content_items_path(@content_type), class: 'mdl-button mdl-js-button mdl-js-ripple-effect'
