= form_for [@content_type, @content_item] do |f|
  = f.hidden_field :author_id, value: current_user.id
  = f.hidden_field :creator_id, value: current_user.id
  = f.hidden_field :content_type_id, value: @content_type.id
  - @content_type.fields.each do |field|
    = f.fields_for 'field_items[]', field do |field_item_form|
      = field_item_form.label :data, field.name
      - if field.field_type == "text_field_type"
        = field_item_form.hidden_field :field_id, value: field.id
        = field_item_form.text_field :data, value: ''
  = f.submit "Submit"
