%section
  .mdl-color--grey.header.relative.clear
    .p-20
      %h3.mdl-color-text--white.m-t-20.m-b-5
        = "#{@content_type.name} Creation"
      %h4.mdl-color-text--white.m-b-20.no-m-t.w100
        = @content_type.description
  = form_for [@content_type, @content_item] do |form|
    = form.hidden_field :creator_id, value: current_user.id
    = form.hidden_field :content_type_id, value: @content_type.id
    = cell('wizard', @wizard, context: { content_item: @content_item, form: form }).()
    .mdl-grid
      .mdl-cell.mdl-cell--12-col
        = form.submit 'Submit', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
        = link_to 'Cancel', content_type_content_items_path(@content_type), class: 'mdl-button mdl-js-button mdl-js-ripple-effect'
