= form_for [@content_type, @content_item] do |f|
  = f.hidden_field :author_id, value: current_user.id
  = f.hidden_field :creator_id, value: current_user.id
  = f.hidden_field :content_type_id, value: @content_type.id
  - @content_type.fields.each do |field|
    = f.fields_for 'field_items', field do |field_item_form|
      - if field.field_type == "text_field_type"
        = cell('cortex/field_types/core/text/text', FieldItem.new(field: field), form: field_item_form, default_value: '').(:input)
      - if field.field_type == "boolean_field_type"
        = cell('cortex/field_types/core/boolean/boolean', FieldItem.new(field: field), form: field_item_form, default_value: false).(:checkbox)
      - if field.field_type == "tree_field_type"
        = cell('cortex/field_types/core/tree/tree', FieldItem.new(field: field), form: field_item_form, index: index).(:tree)
      - if field.field_type == "date_time_field_type"
        = cell('cortex/field_types/core/date_time/date_time', FieldItem.new(field: field), form: field_item_form, default_value: '').(:datepicker)
      - if field.field_type == "tag_field_type"
        = cell('cortex/field_types/core/tag/tag', FieldItem.new(field: field), form: field_item_form, default_value: []).(:tag_picker)
      - if field.field_type == "user_field_type"
        = cell('cortex/field_types/core/user/user', FieldItem.new(field: field), form: field_item_form, default_value: 1).(:dropdown)
  = f.submit "Submit"
