- @news_feed_posts.each do |post|
  %section.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
    - if post.tile_media_id?
      %header.section__featured-media.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone{style: "background-image: url(#{post.tile_media.url})"}
      .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
        .mdl-card__supporting-text
          %h2
            = post.title
          = post.body.html_safe
    - else
      .mdl-card.mdl-cell.mdl-cell--12-col-desktop
        .mdl-card__supporting-text
          %h2
            = post.title
          = post.body.html_safe
