= context[:form].fields_for 'field_items', field_item do |field_item_form|

  - if field_item.field.field_type == "text_field_type"
    = cell('cortex/field_types/core/text/text', field_item, form: field_item_form).(:input)

  - if field_item.field.field_type == "boolean_field_type"
    = cell('cortex/field_types/core/boolean/boolean', field_item, form: field_item_form, field_name: field_item.field.name, default_value: false).(:checkbox)

  - if field_item.field.field_type == "tree_field_type"
    = cell('cortex/field_types/core/tree/tree', field_item, form: field_item_form, metadata: field_item.field.metadata["allowed_values"], field: field).(:checkboxes)

  - if field_item.field.field_type == "date_time_field_type"
    = cell('cortex/field_types/core/date_time/date_time', field_item, form: field_item_form, default_value: '').(:datepicker)

  - if field_item.field.field_type == "tag_field_type"
    = cell('cortex/field_types/core/tag/tag', field_item, form: field_item_form, default_value: []).(:tag_picker)

  - if field_item.field.field_type == "user_field_type"
    = cell('cortex/field_types/core/user/user', field_item, form: field_item_form, default_value: User.all.first.id, user_data: User.all).(:dropdown)
