!!! 5
%html
  %head
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0'}
    %title
      = title
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag :application
    = csrf_meta_tags
  %body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      = render 'partials/topbar'
      = render 'partials/sidebar'
      %main.mdl-layout__content.mdl-color--grey-100
        = yield
    = javascript_include_tag :application
    = render 'layouts/google_analytics' if extra_config.google_analytics_id?
    = render 'partials/flash'
