!!! 5
%html
  %head
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0'}
    %title
      = title
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag :application
    = csrf_meta_tags
  %body
    .layout__container.mdl-js-layout.mdl-layout--fixed-drawer{class: ('.internal-view' unless current_page? root_path)}
      // TODO Removed .demo-layout.mdl-layout. Does that break things?

      = render 'partials/sidebar'
      .layout__topbar-content__wrapper.mdl-layout--fixed-header
        = render 'partials/topbar'
        %main.mdl-layout__content
          = yield

    = javascript_include_tag :application
    = render 'layouts/google_analytics' if extra_config.google_analytics_id?
    = render 'partials/flash'
