!!! 5
%html
  %head
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0'}
    %title
      = title
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag :application
    = csrf_meta_tags
  %body
    = render 'partials/media_dialogs'
    -# .layout__container.mdl-js-layout.mdl-layout--fixed-drawer{class: ('sidebar--collapsed' unless current_page? root_path)}
    = render 'partials/dashboard_redux_state'
    #layout_wrapper{class: ('sidebar--collapsed' unless current_page? root_path)}
      .layout__container.mdl-js-layout.mdl-layout--fixed-drawer
        = render 'partials/sidebar'
        .layout__topbar-content__container.mdl-layout--fixed-header
          = render 'partials/topbar'
          %main.mdl-layout__content.layout__main-content
            = yield
    = render 'partials/flash'

    %script{src: '//cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js', type: 'text/javascript'}
    = javascript_include_tag :application, {'data-turbolinks-eval': false}
    = javascript_pack_tag 'webpack-bundle', {'data-turbolinks-eval': false, 'data-turbolinks-track': 'reload'}
    = render 'layouts/google_analytics' if extra_config.google_analytics_id?
    = render 'partials/trackers/qualtrics' if extra_config.qualtrics_id?
