!!! 5
%html{lang: 'en', :'ng-app' => 'cortex'}
  %head
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=0'}
    %title Cortex Administration
    = favicon_link_tag 'favicon.ico'
    %link{ rel: 'stylesheet', media: 'screen', href: '/code_mirror/lib/codemirror.css' }
    = stylesheet_link_tag :legacy_application
    = csrf_meta_tags
  %body.default{:'ng-controller' => 'CortexCtrl', :'ng-cloak' => ''}
    = yield
    = Gon::Base.render_data
    = javascript_include_tag :legacy_application
    = javascript_include_tag 'https://codemirror.net/mode/yaml/yaml.js'
    = render 'layouts/google_analytics' if extra_config.google_analytics_id?
